body { 
    background-image: url('images/backgroundpic.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.
.jumbotron {
  padding-top: 80px;
  min-height: 300px;
  margin-bottom: 0;
  background-image:url('images/backgroundpic.jpg');
  background-size: cover;
  background-attachment: fixed;
}

#page-wrap{
  background-color: white;
  margin-left: 40px;
  margin-right: 40px;
  text-align: center;
}

.h1 {
  font-family: 'josefin Slab', serif;
  margin-bottom: 1px;
  text-align: center;
}


blockquote {
  border-left: 0;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

body {
  font-family: 'Josefin Slab', serif;
}

#whyjuice {
  background-color: rgba(32, 35, 41, 0.9);
  color: #ddd;
  padding-bottom: 40px;
}

#recipes {
	font-family: 'arial', cursive;
	background-color: rgb(255, 162, 128);
	color: #ffa280;
  	padding-bottom: 40px;

}

.navbar {
  color: white;
  background-color: #ffb732;
  text-decoration-color: white;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 5px;
}

#mission {
  margin-bottom: 1.5em;
}

#social-buttons {
  margin-bottom: 50px;
}

.btn-twitter {
  background-color: rgb(51, 214, 255);
  color: white;
}

.btn-facebook {
  background-color: rgb(128, 159, 255);
  color: white;
}

.btn-pinterest {
  background-color: rgb(255, 77, 77);
  color: white;
}